<form id="bookForm">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" placeholder="Title">
        <small id="titleHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputEdition">Edition</label>
        <input type="text" class="form-control" id="inputEdition" placeholder="Edition">
    </div>
    <div class="form-group">
        <label for="inputAuthor">Author</label>
        <input type="text" class="form-control" id="inputAuthor" placeholder="Author">
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription" rows="3"></textarea>
    </div>
    <button type="reset" class="btn btn-secondary">Clear</button>
    <button type="button" class="btn btn-primary">Save</button>
</form>